@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #565f6b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

#role {
  color: #ff7510;
  white-space: pre;
}
